:host {
  display: block;
  margin: 60px auto 0;
  max-width: 600px;
  justify-content: center;
}

.total {
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 700;
  font-family: sans-serif;
  text-transform: capitalize;
}

.input {
  width: 100%;
  padding: 6px 12px;
  box-sizing: border-box;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  outline: cadetblue solid 1px;
  text-transform: capitalize;

  &:not(:first-child) {
    margin-top: 20px;
  }
}

.not-found {
  text-align: center;
  text-transform: capitalize;
  font-family: sans-serif;
  font-style: italic;
  color: rebeccapurple;
  font-size: 14px;
}

.delete {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  text-transform: uppercase;
  background-color: red;
}
